
@{
    ViewBag.Title = "AboutMe";
}

<h2>AboutMe</h2>

<div class="row">
    <div class="col-sm-8">
        <h3>About Me</h3>
        <h4>Aphiwe Mhlongo</h4>
        <p>
            Hi:) I am an Informatics student at the university of Pretoria.
            I would describe myself as optimistic and always eager to learn.
            My favourite pastimes include reading, painting, crocheting, drawing and yoga.
        </p>

    </div>
</div>


<div class="col-sm-4">
   
    <img src="~/images/aboutimg.jpg" alt="About Photo" />
    
</div>
