@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-8">
        <h3>My Media</h3>
        <h4>Media Selector</h4>
        <p>Using the form displayed on the page, you will be able to upload various types of media from your device,
        including video and image files as well as documents. Simply select the type of file you wish to upload, browse for it on your device
        then click submit.</p>

    </div>
     

    <div class="col-sm-4">

        <div class="well-sm">
            <h3>Media Option Selection</h3>
        </div>

        <div class="well-sm">
            <div class="form-horizontal">
                @using (Html.BeginForm("Home", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))


        {
                <div><input type="radio" name="media" value="Document"/><label for="Document">Document</label></div>
                <div><input type="radio" name="media" value="Video"/><label for="Video">Video</label></div>
                <div><input type="radio" name="media" value="Image"/><label for="Image">Document</label></div>

                <br />

                <div><input type="file" name="files" /></div>
                <br />
                <div><input type="submit" value="Upload" /></div>
        }
            </div>
            <br />
        </div>
    </div>
</div>
